.card {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  &:hover{
    .body{
      display: flex;
      opacity: 1;
    }
  }
  .body {
    transition: all 3s ease-in-out 3s;
    display: none;
    // opacity: 0;
    background-color: #1313139a;
  }
}